<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link rel="stylesheet" href="/css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body>
  <div class="top-bar">
    <div class="row">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Site Title</li>
          <li><a href="/studios">Studios</a></li>
          <li><a href="/artists">Artists</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>

        <% if (loggedIn) { %>
          <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>

  <main>
    <div class="row">
      <%- body %>
    </div>
  </main>

  <script src="/js/app.js"></script>
</body>
</html>
