<div class="container">
  <h1>Studios</h1>
  <div class="search-pic-container">
    <% for (const studio of studios.sort(() => .5 - Math.random())) { %>
      <a href="/studios/<%= studio._id %>" class="search-pic">
        <img src="<%= studio.profilePic %>">
        <div class="gradient"></div>
        <span><%= studio.name %></span>
      </a>
    <% } %>
  </div>
</div>
