<%- include('../partials/cover', { artist: studio }) %>

<div class="container">
  <h2>Artists</h2>
  <div class="search-pic-container">
    <% for (const artist of artists) { %>
      <%- include('../partials/grid-box', {artist}) %>
    <% } %>
  </div>
</div>
