<div class="container">
  <h1><%= studio.name %></h1>

  <h2>Artists</h2>
  <% for (const artist of artists) { %>
    <p>
      <a href="/artists/<%= artist._id %>"><%= artist.name %></a>
    </p>
  <% } %>
</div>
