<div class="container text-center">
  <div class="logo">
    <h1 class="main-page-title">
      <img src="/images/eye2.svg">
      <div class="fancy">
        <svg viewBox="0 0 960 300">
        	<symbol id="s-text">
        		<text text-anchor="middle" x="50%" y="80%">Novanoid</text>
        	</symbol>

        	<g class = "g-ants">
        		<use xlink:href="#s-text" class="text-copy"></use>
        		<use xlink:href="#s-text" class="text-copy"></use>
        		<use xlink:href="#s-text" class="text-copy"></use>
        		<use xlink:href="#s-text" class="text-copy"></use>
        		<use xlink:href="#s-text" class="text-copy"></use>
        	</g>
        </svg>
      </div>
    </h1>
  </div>
  <p>Find your next tattoo artist:</p>

  <form method="get" action="/search">
    <div class="input-group home-search">
      <input type="text" class="form-control" name="q" placeholder="Tattoo artist, studio name or location...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </form>

  <div class="map">
    <img src="http://www.fillmurray.com/600/200">
    <p>MMAAAAAP</p>
  </div>

  <div class="reasons">
    <h2>Register</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="fullstar">
          <img src="/images/fullstar.png">
        </div>
        <h3>Top quality artists</h3>
        <p>Excelent artists from all cross the globe.</p>
      </div>
      <div class="col-md-4">
        <div class="eye">
          <img src="/images/eye.png">
        </div>
        <h3>Check their latest work</h3>
        <p>Each artists page is frequently updated with their latest work.</p>
      </div>
      <div class="col-md-4">
        <div class="menu">
          <img src="/images/menuthin.png">
        </div>
        <h3>Artists ratings and reviews</h3>
        <p>Each artist has a feedback section where you can check their latest rating and feedback.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="calendar">
          <img src="/images/calendar.png">
        </div>
        <h3>Artists availability and book your next appointment</h3>
        <p>Check the artists calendar and book your next appointment.</p>
      </div>
      <div class="col-md-4">
        <div class="search">
          <img src="/images/search.png">
        </div>
        <h3>Search by artist name, studio or location</h3>
        <p>Take advantage of our super fast search method or check the artists closest to you.</p>
      </div>
      <div class="col-md-4">
        <div class="shop">
          <img src="/images/shop.png">
        </div>
        <h3>Check studio pages and their artists</h3>
        <p>On the studio page you'll find other artists that work there and can check their potfolio.</p>
      </div>
    </ul>
  </div>

  <p><a href="#" class="btn btn-default btn-lg">Register</a></p>
</div>
