.main-page-title {
  font-size: 90px;
}

h1 {
  padding-bottom: 20px;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}

.input-group-btn {
  padding-bottom: 30px;
}

.register {
  padding-bottom: 90px;
}

.home-search {
  width: 53%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.logo img {
  width: 120px;
  height: 120px;
  filter: invert(100%);
}

.map {
  padding-bottom: 200px;
}

.reasons {
  padding-bottom: 150px;

  img {
    filter: invert(100%);
    width: 64px;
    height: 64px;
  }
}

svg {
    display: block;
    font-size: 200px;
    width: 640px;
    height: 203px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 6px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #515151;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #676767;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #7c7c7c;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #929292;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #a8a8a8;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


h3 {
  font-size: 20px;
}


.register-container {
  padding-top: 75px;
}
