.main-page-title {
  font-size: 90px;
}

h1 {
  padding-bottom: 20px;
}

.input-group-btn {
  padding-bottom: 30px;
}


.home-search {
  width: 53%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.logo img {
  width: 80px;
  height: 80px;
  filter: invert(100%);
}

.map {
  padding-bottom: 300px;
}

.reasons {
  padding-bottom: 150px;

    img {
      filter: invert(100%);
    }
}

.fullstar img {
  width: 100%;
  height: 100%;
}

.eye img {
  width: 10px;
  height: 10px;
}

.menu img {
  width: 30px;
  height: 30px;
}

.calendar img {
  width: 30px;
  height: 30px;
}

.search img {
  width: 30px;
  height: 30px;
}

.shop img {
  width: 30px;
  height: 30px;
}
