.main-page-title {
  font-size: 90px;
}

.home-search {
  width: 53%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.logo img {
  width: 80px;
  height: 80px;
  float: left;
}

.logotop img{
  width: 30px;
  height: 30px;
  float: left;
}

.map {
  padding-bottom: 300px;
}

.reasons {
  padding-bottom: 150px;
}
