@import "bootstrap";
@import "homepage";
@import "artists";
@import "search";
@import "studios";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  height: 100%;
}

body {
  background-color: #222;
  background-image: url("/images/noisy2.png");
  color: #aaa;
  font-family: 'Droid Sans Mono', monospace;
  position: relative;
  min-height: 100%;
  padding-bottom: 250px;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar {
  input {
    box-shadow: none !important;
    background-color: #222;
    color: #fff;
  }
}

.logotop img {
  filter: invert(100%);
  width: 30px;
  height: 30px;
  display: inline;
}

.lightbox-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 3;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 640px;
    height: 640px;
    margin-top: -320px;
    margin-left: -320px;
  }
}

footer {
  background-color: #191919;
  padding: 27px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  :hover {
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #888;

  }
  ul {
    float: left;
    width: 150px;
  }
  p{
    float: right;
    line-height: 70px;
    color: #666;
  }
}

form .account {
  width: 30%;
}
