<div class="container">
  <h1>Artists</h1>
  <div class="search-pic-container">
    <% for (const artist of artists.sort(() => .5 - Math.random())) { %>
      <% if (artist.place) continue; %>
      <%- include('../partials/grid-box', {artist}) %>
    <% } %>
  </div>
</div>
