<h1>add artist</h1>

<form method="post" action="/artists">
  <label for="title">title</label>
  <input type="text" id="title" name="title">

  <label for="description">description</label>
  <textarea id="description" name="description"></textarea>

  <label for="youtubeId">youtube link</label>
  <input type="text" id="youtubeId" name="youtubeId">

  <label for="genre">genre</label>
  <input type="text" id="genre" name="genre">
  <br><br>

  <input type="submit" value="Create" class="button-primary">
</form>
