<%- include('../partials/cover', { artist }) %>

<div class="container">
  <% if (loggedIn && user.admin) { %>
    <a class="btn btn-danger" href="/artists/<%= artist._id %>">Delete</a>
    <a class="btn btn-primary" href="/artists/<%= artist._id %>/edit">Edit</a>
  <% } %>

  <h2>Portfolio</h2>
  <div class="portfoliopics">
    <% const instagramPhotos = artist.instagramData.items.slice(); %>
    <% while (instagramPhotos.length) { %>
      <% const rowPhotos = [instagramPhotos.shift(), instagramPhotos.shift(), instagramPhotos.shift(), instagramPhotos.shift()]; %>
      <div class="row">
        <% for (const item of rowPhotos) { %>
          <% if (!item) continue; %>
          <div class="col-md-3">
            <div class="portfolio-image-container lightbox">
              <img class="portfolio-image thumbnail" src="<%= item.images.standard_resolution.url %>">
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>

  <h2>Reviews</h2>
</div>
